<section *ngIf="dynamicquestions">
    <p>questions works!</p>
    <table>
        <tbody>
            <!--Recorre las preguntas-->
            <tr *ngFor="let q of dynamicquestions">

                <!--Label-->
                <td>{{ q.label }}</td>

                <!--Inputs-->
                <td>
                    <!--Verifica si tiene opciones-->
                    <div *ngIf="q.options">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ q.label }}</mat-label>
                            <mat-select [id]="q.key">
                                <mat-option *ngFor="let opt of q.options" [value]="opt.key">
                                    {{ opt.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--Verfica si no tiene opciones-->
                    <div *ngIf="!q.options">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ q.label }}</mat-label>
                            <input matInput [id]="q.key" [value]="q.value" [type]="q.type">
                        </mat-form-field>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>