<div class="menu-container" [class.menu-is-mobile]="mobileQuery.matches"
    [ngClass]="darkTheme ? 'mime-dark-theme':'mime-light-theme'">

    <!-- Toolbar -->
    <mat-toolbar color="primary" class="menu-toolbar">

        <button mat-icon-button *ngIf="isLogged()" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <h1 class="menu-app-name">{{ title }}</h1> 
        <div class="flex-spacer"></div>
        <div>
            <span class="account-logo items-icon"></span>
            <a mat-button (click)="unlock()">Perfil | Idioma</a>
        </div>
        <div>
            <a mat-button (click)="darkTheme = (darkTheme ? false : true)">Modo</a>
        </div>
    </mat-toolbar>

    <!-- Container -->
    <mat-sidenav-container class="menu-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
        hasBackdrop="true">

        <!-- SideNav-->
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'side' : 'over'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <!--Lista Menú-->
            <mat-nav-list *ngIf="isLogged()">

                <!--Items Menú-->
                <menu-items *ngFor="let menuitem of menu" [menuitem] = "menuitem"></menu-items>

                <!-- Recorre Menú -->
<!--                 <li *ngFor="let m of menu">
                    <a class="menu-link">
                        <span class="">{{ m.nombre }}</span>
                        <span></span>
                    </a>
                
                
                    <a mat-list-item (click)="snav.toggle()" [routerLink]="[{ outlets: { snavoutlet: [a.codigo] } }]"
                        *ngFor="let a of m.app">
                        {{ a.nombre }}
                    </a>
                </li> -->
            </mat-nav-list>
        </mat-sidenav>

        <!-- Rutas  -->
        <mat-sidenav-content>
            <router-outlet name="snavoutlet"></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>