<p>base works!</p>
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="questionForm">
        <ng-template matStepLabel>Datos Póliza</ng-template>
        <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <div *ngFor="let q of questions">
                <quote-questions [dynamicquestion]="q" [form]="questionForm"></quote-questions>
            </div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Terceros</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Riesgo</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Datos Riesgo</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Coberturas</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Detalle Coberturas</ng-template>
        <p>This content was rendered eagerly</p>
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-stepper>