@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mime-app-primary-dark: mat-palette($mat-indigo, 900);
$mime-app-primary-light: mat-palette($mat-indigo, A200);
$mime-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$mime-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mime-light-theme: mat-light-theme($mime-app-primary-light, $mime-app-accent, $mime-app-warn);
$mime-dark-theme: mat-dark-theme($mime-app-primary-dark, $mime-app-accent, $mime-app-warn);

@include angular-material-theme($mime-light-theme);

.mime-dark-theme {
  @include angular-material-theme($mime-dark-theme);
}

.mime-light-theme {
  @include angular-material-theme($mime-light-theme);
}