:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.login-card{
    position: fixed;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

.mat-card-header{
    display: flex;
    right: 0;
    justify-content: flex-end;
    background-image: url('^assets/icon/login-icon.png');
    background-repeat: no-repeat;
    background-size: auto;
    
    mat-card-title,
    mat-card-subtitle,
    mat-card-content{
        display: flex;
        justify-content: flex-end;
    }
}

button{
    width: 100%;
}