::ng-deep .mat-dialog-container {
    padding: 0px !important;
}

::ng-deep .mat-form-field {
    display: initial;
}

::ng-deep .mat-card-header-text {
    margin: 0 0;
    margin-top: 15px;
    text-align: center !important;
}

.unlock-header-img {
    background-image: url('^assets/img/avatar.jpg');
    background-size: cover;
}

.mat-card-avatar {
    height: 100px;
    width: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    .mat-card-image:first-child {
        border-radius: 50%;
    }
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.mat-card-header {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;

    mat-card-content {
        display: flex;
        justify-content: flex-end;
    }
}

button {
    width: 100%;
}