<ng-template [ngIf]="!menuitem.route" [ngIfElse]="app">
    <a mat-list-item class="menu-link" [ngStyle]="{'padding-left': (idx * 12) + 'px'}"
        (click)="onItemSelected(menuitem)" [ngClass]="{'expanded': expanded}">

        <!--Nombre: menú|submenú -->
        {{ menuitem.nombre }}

        <span fxFlex *ngIf="menuitem.app && menuitem.app.length">
            <span fxFlex></span>
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                expand_more
            </mat-icon>
        </span>
    </a>
</ng-template>

<ng-template #app>
    <a mat-list-item [ngStyle]="{'padding-left': (idx * 12) + 'px'}" (click)="onItemSelected(menuitem)"
        [ngClass]="{'active': menuitem.route ? true: false}"
        [routerLink]="[{ outlets: { snavoutlet: [menuitem.codigo] } }]">

        <!--Nombre: aplicación -->
        {{ menuitem.nombre }}
    </a>
</ng-template>

<!--Cargamos las aplicaciones-->
<div *ngIf="expanded">
    <menu-items *ngFor="let app of menuitem.app" [menuitem]="app" [idx]="idx+1"></menu-items>
</div>