<ul class="menu-wrap animated fadeIn">
    <li class="menu-item">
        <ng-template [ngIf]="!menuitem.route" [ngIfElse]="app">
            <a mat-list-item class="menu-link" [ngStyle]="{'padding-left': (idx * 0) + 'px'}"
                (click)="onItemSelected(menuitem)" [ngClass]="{'expanded': expanded}">

                <!--Nombre: menú|submenú -->
                <mat-icon class="">{{menuitem.icon}}</mat-icon>
                <span class="text textmenu">{{menuitem.nombre}}</span>

                <span fxFlex *ngIf="menuitem.app && menuitem.app.length">
                    <span fxFlex></span>
                    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                        expand_more
                    </mat-icon>
                </span>
            </a>
        </ng-template>

        <ng-template #app>
            <a mat-list-item class="menu-link" [ngStyle]="{'padding-left': (idx * 0) + 'px'}"
                (click)="onItemSelected(menuitem)"
                [routerLink]="[{ outlets: { snavoutlet: menuitem.params } }]"
                [routerLinkActive]="['is-active']">

                <!--Nombre: aplicación -->
                <mat-icon>{{menuitem.icon}}</mat-icon>
                <span class="text">{{menuitem.nombre}}</span>
            </a>
        </ng-template>

        <!--Cargamos las aplicaciones-->
        <div *ngIf="expanded">
            <menu-items *ngFor="let app of menuitem.app" [menuitem]="app" [idx]="idx+1"></menu-items>
        </div>
    </li>
</ul>