<div class="app-error">
    <mat-card class="error-card">
        <mat-card-title color="warn">
            <mat-icon class="error-icon" role="img" color="warn" aria-hidden="true">error</mat-icon>Error
        </mat-card-title>
        <mat-card-subtitle>404 - No se encuentra el recurso solicitado</mat-card-subtitle>
        <div class="fix">
            <div class="error-text">
                <h1 class="error-title">404</h1>
                <div class="error-subtitle">Page Not Found!</div>
            </div>
        </div>
    </mat-card>
</div>